<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			body,
			ul,
			li {
				margin: 0;
				padding: 0;
				list-style: none;
			}
			.list-body li:nth-child(even) {
				background: yellow;
			}
			.list-body li:nth-child(odd) {
				background: #fff;
			}
			.list-body li:hover {
				background: green;
			}
			.list-body li.checkedColor {
				background: green;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="css/baidu.css" />
		<script src="../src/vue.js"></script>
	</head>

	<body>
		<div class="wrap" id="app">
			<div class="baidu">
				<ul class="list list-head">
					<li>
						<div>
							<input type="checkbox" v-model='isAllChecked'/>全选
						</div>
						<span>歌单</span>
						<span>歌手</span>
						<span>专辑</span>
					</li>
				</ul>
				<ul class="list list-body">
					<li v-for="item in users"
						:class="{checkedColor:clone===item.checked}"
					>
						<div><input type="checkbox" v-model="item.checked"></div>
						<span>{{item.song}}</span>
						<span>{{item.name}}</span>
						<span>{{item.album}}</span>
					</li>
					<!--<li class="">
						<div><input type="checkbox"></div>
						<span>泡沫</span>
						<span>邓紫棋</span>
						<span>10</span>
					</li>
					<li class="">
						<div><input type="checkbox"></div>
						<span>泡沫</span>
						<span>邓紫棋</span>
						<span>10</span>
					</li>-->
				</ul>
				<div class="select">
					<span class="selectAll">

						<span>统计：</span>
					</span>
					<div class="others">
						<span ><em></em>歌手有：3位</span>
						<span><em></em>专辑有{{ppp}}张</span>
					</div>
				</div>
			</div>
		</div>
		<script>
			let data = [
				{
					id:Date.now()+Math.random(),
					name: '邓紫棋',
					song: '泡沫',
					checked: false,
					album: 15
				},
				{
					id:Date.now()+Math.random(),
					name: '王杰',
					song: '泡沫',
					checked: false,
					album: 22
				},
				{
					id:Date.now()+Math.random(),
					name: '邓紫棋',
					song: '泡沫',
					checked: false,
					album: 44
				}
			]
			
			let vm = new Vue({
				el: '#app',
				data: {
					users: data,
					clone:true
				},
				computed: {
					isAllChecked:{
						get(){  // 取值的时候触发
							let newArr = this.users.filter(function (item){
								return item.checked
							})

							return newArr.length === this.users.length;
						},
						//设置值作为参数传过来
						set(newValue){ // 设置值触发
							console.log(newValue);  //点击改变了状态
							this.users.forEach(function (item){
								item.checked = newValue;
							})
						}
					},
					ppp(){  //专辑总计
						let m = this.users.reduce(function(n,item){
							return n + parseFloat(item.album)
						},0)
						return m
					}
				}
			})

		
		</script>
	</body>

</html>
